body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(./homepage.jpeg);
    background-size: cover;
}

.updatePassword-container,
.resetRequest-container,
.resetPassword-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.form-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05); 
}

button:active {
    background-color: #004494; 
    transform: scale(0.95); 

a {
    color: #007BFF; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}
}